{{#each this}}
<li class="team-list__item">
  <img class="team-list__img" src="{{img}}" alt="Фото {{title}}" />
  <h3 class="team-list__title">{{title}}</h3>
  <p class="team-list__description">{{description}}</p>
  <ul class="team-list__social-list">
    {{#each social_links}}
    <li class="team-list__social-item">
      <a class="team-list__social-link" href="{{href}}">
        <svg class="team-list__social-svg" width="20px" height="20px">
          <use href="images/symboldefs.svg#{{icon}}"></use>
        </svg>
      </a>
    </li>
    {{/each}}
  </ul>
</li>
{{/each}}